<%- include("./template/header")%>
<h2 style="font-family: verdana;font-weight: bold;text-align: center;font-size: 35px;color: lime;text-shadow: rgb(247, 255, 5) 2px 2px 2px;">Clicca il bottone per registrare i tuoi dati nel Post it</h2>
<div class="container p-5 my-6 bg-dark text-white">
  <FORM method='post' ACTION='/t'>
  <INPUT class='myButton' type='submit' name='b2' value='Registrati'>
  </FORM>
  <FORM method='post' ACTION='/p'>
  <INPUT class='myButton2' type='submit' name='b2' value='Vedi dati in tabella'>
  </FORM>
</div>
  <%- include("./template/footer")%>
